{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<h1 class="m-3">{% trans "Sign Out" %}</h1>

<p class="m-3">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn text-white btn-dark m-3" type="submit">{% trans 'Sign Out' %}</button>
</form>

{% block body %}

{% if messages %}
<div>
  <strong>{% trans "Messages:" %}</strong>
  <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="p-3">
  <strong>{% trans "Options:" %}</strong>
  <ul>
    {% if user.is_authenticated %}
    <li><a href="{% url 'account_email' %}">{% trans "Change Email" %}</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
    <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
    {% endif %}
  </ul>
</div>
<br>

{% endblock body %}


{% endblock content %}