{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-5">
            <h2>Newsletter</h2>
            <hr>
            <div class="newsletter-signup">
                <p>Thanks for signing up to our newsletter. We look forward to sharing exciting news and offers with you!</p>
                <p>-Elegant Essentials</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}