#profile-update-form .form-control {
    color: #4a0374;
}

#profile-update-form input::placeholder {
    color: #464a4e;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #4a0374;
}

#id_default_country option:first-child {
    color: #464a4e;
}