{% extends "base.html" %}
{% load static %}

{% block includes %}
<div class="row bg-light">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-start justify-content-md-center w-100">
        {% include 'includes/categories_nav.html' %}
    </nav>
</div>
{% endblock %}

{% block content %}

    <div class="container col-12 mt-5">
        <div class="row">
            <div class="logo-image">
                <img src="{{ MEDIA_URL }}logo.png" class="img-fluid" alt="Shop logo image">
            </div>
            <br>
            <h1 class="text-center">Welcome to Our Online Shop!</h1>
            <p class="text-center mt-3"> Welcome to Elegant Essentials, your premier destination for premium skin care
                and
                hair care
                products. At our online shop, we believe that taking care of yourself is the ultimate form of self-love.
                That's why
                we've carefully curated a selection of high-quality, effective products that will leave your skin
                looking
                radiant
                and your hair feeling fabulous.</p>

            <p class="text-center mt-3">From nourishing moisturisers to rejuvenating serums, and from volumising
                shampoos to
                hydrating conditioners, our
                expertly crafted range of products is designed to help you achieve your best skin and hair yet. Whether
                you're
                looking to address specific concerns or simply want to pamper yourself with a little me-time, we've got
                you
                covered.</p>

            <p class="text-center mt-3">At Elegant Essentials, we're dedicated to helping you look and feel your
                absolute
                best. Browse our collection today
                and discover the secret to a more radiant, confident you.</p>
        </div>
        <div class="text-center my-4">
            <h3>
                <a href="{% url 'shop' %}" class="shop-btn btn btn-lg btn-dark text-white"><i
                        class="fa-solid fa-basket-shopping"></i> SHOP <i class="fa-solid fa-basket-shopping"></i></a>
            </h3>
        </div>
    </div>
{% endblock %}