<div class="bg-light">
    <nav class="navbar navbar-expand-md navbar-light py-2">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item me-3">
                    <a class="nav-link {% if request.path == 'shop_url' %}active{% endif %}" href="#"
                        id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><strong>All Products</strong></a>
                    <div class="dropdown-menu" aria-labelledby="all-products-link">
                        <a class="dropdown-item" href="{% url 'shop' %}">All Products</a>
                        <a class="dropdown-item" href="{% url 'shop' %}?sort=price&direction=asc">Price - Ascending</a>
                        <a class="dropdown-item" href="{% url 'shop' %}?sort=price&direction=desc">Price -
                            Descending</a>
                    </div>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {% if request.path == 'shop_url' %}active{% endif %}" href="#"
                        id="skin-products-link" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><strong>Skin Products</strong></a>
                    <div class="dropdown-menu" aria-labelledby="skin-products-link">
                        <a class="dropdown-item" href="{% url 'shop' %}?category=skin_products">All Skin Products</a>
                        <a class="dropdown-item" href="{% url 'shop' %}?category=skin_products&sort=price&direction=asc">Price - Ascending</a>
                        <a class="dropdown-item" href="{% url 'shop' %}?category=skin_products&sort=price&direction=desc">Price -
                            Descending</a>
                    </div>
                </li>
                <li class="nav-item me-3">
                <a class="nav-link {% if request.path == 'shop_url' %}active{% endif %}" href="#" id="hair-products-link"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Hair
                        Products</strong></a>
                <div class="dropdown-menu" aria-labelledby="hair-products-link">
                    <a class="dropdown-item" href="{% url 'shop' %}?category=hair_products">All Hair Products</a>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=hair_products&sort=price&direction=asc">Price - Ascending</a>
                    <a class="dropdown-item" href="{% url 'shop' %}?category=hair_products&sort=price&direction=desc">Price -
                        Descending</a>
                </div>
                </li>
            </ul>
        </div>
    </nav>
</div>