{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h1 class="m-3"><strong>Shop</strong></h1>
{% endblock %}


{% block content %}
<div class="row mt-5 mb-5 justify-content-center">
    <div class="col col-10 ">
        <form method="GET" action="">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search for products"
                    aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}